/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    line-height: auto;
    margin: auto;
    padding: auto;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}

/* Cabeçalho */
header {
    background: #222; /* Fundo mais escuro para um visual mais sofisticado */
    color: #fff;
    padding: auto;
    min-height: 80px;
    border-bottom: 4px solid #00B0FF; /* Azul vibrante como destaque */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra suave para profundidade */
}

/* Container do cabeçalho */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Reduzido um pouco o tamanho para dar espaçamento lateral */
    max-width: 1000px; /* Máximo para telas grandes */
}

/* Navegação */
header nav ul {
    padding: auto;
    list-style: none;
    display: flex;
    margin: auto;
}

header nav ul li {
    padding: 0 50px; /* Aumentando o espaçamento entre os itens */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem; /* Tamanho de fonte ajustado para maior clareza */
    font-weight: 600; /* Tornar o texto mais pesado e legível */
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    color: #00B0FF; /* Cor azul vibrante ao passar o mouse */
    transform: scale(1.05); /* Pequeno aumento para indicar interação */
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        padding: auto;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start; /* Alinhando o conteúdo à esquerda em dispositivos menores */
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: auto;
    }

    header nav ul li {
        padding: 100px auto; /* Mais espaçamento entre os itens no modo coluna */
    }
}

/* Seção Bem-vindo */
#bem-vindo {
    padding: auto;
    margin: auto;
    width: 100%;
}

/* Faixa de Bem-vindo com imagem de fundo */
.bem-vindo-banner {
    position: relative;
    width: 100%;
    margin: auto;
    height: 240px; /* Altura da faixa */
    background: url('bem-vindo-bg.jpg') no-repeat center center/cover; /* Substitua com sua imagem */
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); /* Adicionando sombra para o efeito escuro */
}

.bem-vindo-banner::after {
    content: '';
    position: absolute;
    top: 10;
    left: 10;
    right: 10;
    bottom: 10;
    background: rgba(155, 1, 1, 0.26); /* Degradê escuro para melhorar a legibilidade */
    z-index: 1;
}

/* Texto da faixa */
.bem-vindo-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.bem-vindo-texto h2 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para o texto */
}

.bem-vindo-texto p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.btn-welcome {
    font-size: 1.2em;
    padding: 12px 30px;
    background-color: #77aaff;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    letter-spacing: 1px;
}

.btn-welcome:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

/* Responsividade */
@media (max-width: 768px) {
    .bem-vindo-banner {
        height: 300px; /* Reduzir altura em telas menores */
    }

    .bem-vindo-texto h2 {
        font-size: 2em; /* Ajuste do tamanho do título */
    }

    .bem-vindo-texto p {
        font-size: 1em; /* Ajuste do tamanho do texto */
    }
}


/* Seção Serviços */
#servicos {
    margin: auto;
}

#servicos h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 0px;
}

#servicos .servicos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Seção Serviços */
#servicos {
    margin: 50px auto; /* Centraliza a seção */
    width: 100%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    border: 2px solid #ddd; /* Borda para o contêiner */
    border-radius: 10px; /* Arredonda as bordas */
    background-color: #fff; /* Cor de fundo do contêiner */
}

#servicos h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#servicos .servicos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui igualmente os itens */
}

#servicos .servico {
    background: #fff;
    padding: 50px;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(25% - 10px); /* Ajuste para 4 colunas */
}

@media (max-width: 1024px) {
    #servicos .servico {
        width: calc(50% - 20px); /* 2 colunas para telas médias */
    }
}

@media (max-width: 768px) {
    #servicos .servico {
        width: calc(100% - 20px); /* 1 coluna para telas menores */
    }
}

#servicos .servico:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#servicos .servico img {
    max-width: 150px;
    margin-bottom: 10px;
}

#servicos .servico h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em;
}

#servicos .servico p {
    color: #666;
}

#servicos .servico a {
    text-decoration: none;
    color: #77aaff;
    font-weight: bold;
    transition: color 0.3s ease;
}

#servicos .servico a:hover {
    color: #0056b3;
}

#servicos .servico img {
    max-width: 150px;
    margin-bottom: 10px;
}

#servicos .servico h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em;
}

#servicos .servico p {
    color: #666;
}

#servicos .servico a {
    text-decoration: none;
    color: #77aaff;
    font-weight: bold;
    transition: color 0.3s ease;
}

#servicos .servico a:hover {
    color: #0056b3;
}

/* Seção Galeria */
#galeria {
    margin: 40px auto;
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    overflow: hidden; /* Garante que os itens não saiam da área visível */
}

#galeria h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#galeria .galeria-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    flex-shrink: 0; /* Impede que o item encolha */
}

#galeria .galeria-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#galeria .galeria-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Container de Flexbox */
#galeria .galeria-container {
    display: flex;
    justify-content: center; /* Alinha as imagens ao centro */
    flex-wrap: nowrap; /* Garante que os itens fiquem em uma única linha */
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

#galeria .galeria-item {
    margin-right: 20px; /* Espaçamento entre as imagens */
    flex: 0 0 auto; /* Impede que os itens encolham ou cresçam */
}

/* Layout responsivo */
@media (max-width: 768px) {
    #galeria .galeria-container {
        flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    }

    #galeria .galeria-item {
        width: 100%; /* Cada item ocupa 100% da largura em telas menores */
        margin-right: 0; /* Remove o espaço entre as imagens em telas menores */
    }
}


/* Seção Depoimentos */
#depoimentos {
    margin: 60px 10;
    text-align: center;
}

#depoimentos h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Grid de depoimentos */
.depoimentos-grid {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.depoimento {
    background: #fff;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin: 80px;
}

.depoimento:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.depoimento img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #77aaff; /* Borda ao redor da imagem */
}

.depoimento p {
    font-style: italic;
    color: #666;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.depoimento h3 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.depoimento .cargo {
    color: #999;
    font-size: 1em;
}

/* Responsividade */
@media (max-width: 768px) {
    .depoimentos-grid {
        flex-direction: column;
        align-items: center;
    }
    
    .depoimento {
        max-width: 500px;
        margin-bottom: 30px;
    }
}


/* Rodapé */
footer {
    background: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 1em;
    border-top: 4px solid #77aaff; /* Adiciona uma linha de separação */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-info {
    text-align: left;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #77aaff;
    text-decoration: none;
    font-weight: bold;
}

.footer-info a:hover {
    color: #0056b3;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.footer-social a {
    display: block;
}

.footer-social img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1); /* Efeito de zoom nos ícones de redes sociais */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        text-align: center;
    }

    .footer-social {
        margin-top: 20px;
        justify-content: center;
    }
}